@import "vendor/normalize";

*{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body, html{ height: 100%; }

body{
    background: #333;
    font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif';

    display: flex;
}

h2 {
    font-weight: 200;

    small{
        display: block;
        font-size: 0.8rem;
    }
}

.cities{
    margin: auto;
    padding: 0;
    list-style: none;

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

    li{
        padding: 10px;
        background: hsla(200, 100%, 25%, 1);
        color: white;
        text-align: center;

        flex: 1 200px;
    }

    i{
        font-size: 5rem;
        margin-bottom: 30px;
        display: block;
    }
}

// using forecast io icon definitons and mapping them to weather-icons values when they dont exist
// forecast values: clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, or partly-cloudy-night
.wi-clear-day:before{ content: "\f00d"; }
.wi-clear-night:before{ content: "\f02e"; }
.wi-wind:before{ content: "\f021"; }
.wi-partly-cloudy-day:before{ content: "\f002"; }
.wi-partly-cloudy-night:before{ content: "\f083"; }
